#data{
    color: white;
    width: 100%;
    height: 10%;
    font-weight: 600;
}

#data-up{
    width: 100%;
    display: flex;
    align-items: center;
}

#data>#trayins{
    display: flex;
}

#up, #score{
    height: 50%;
}

#area{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#frame{
    /*border: 1px solid red;
    /*box-shadow: 0 0 10px #03f;*/
    border-radius: 5px;
    width: 420px;
    height: 210px;
    color: white;
}

#pacman{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -35px -73px;
    border-radius: 50%;
    position: absolute;
}

#pacman-lifes{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -35px -73px;
    border-radius: 50%;
}

#pacman-left{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -35px -73px;
    border-radius: 50%;
    position: absolute;
    animation: moveleft 400ms steps(6) infinite; /*24 px por pixel*/
}

@keyframes moveleft{
    to{
        background-position: -35px -217px;
    }
}

#pacman-right{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -57px -73px;
    border-radius: 50%;
    position: absolute;
    animation: moveright 400ms steps(6) infinite; /*24 px por pixel*/
}

@keyframes moveright{
    to{
        background-position: -57px -217px;
    }
}

#pacman-up{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -79px -73px;
    border-radius: 50%;
    position: absolute;
    animation: moveup 400ms steps(6) infinite; /*24 px por pixel*/
}

@keyframes moveup{
    to{
        background-position: -79px -217px;
    }
}

#pacman-down{
    background: url("../assets/img/pacsprites.png");
    width: 21px;
    height: 21px;
    background-position: -105px -73px;
    border-radius: 50%;
    position: absolute;
    animation: movedown 400ms steps(6) infinite; /*24 px por pixel*/
}

@keyframes movedown{
    to{
        background-position: -105px -217px;
    }
}

#activated{
    background: url("../assets/img/bocina1.png");
    width: 40px;
    height: 40px;
}
#deactivated{
    background: url("../assets/img/bocina2.png");
    width: 40px;
    height: 40px;
}

#start{
    background-color: rgb(0, 12, 255);
    border: 0px;
    border-radius: 2px;
    color: white;
}

#start:hover{
    box-shadow: 0 0 10px #03f;
}

#map{
    width: 100%;
    display: flex;
}

#no-way{
    width: 19px;
    height: 19px;
    border-radius: 2px;
    border: 1px solid #03f;
    /*box-shadow: 0 0 5px #03f;*/
    text-align: center;
}

#yes-way{
    width: 21px;
    height: 21px;
}

#food{
    width: 21px;
    height: 21px;
    font-weight: 900;
    text-align: center;
}

#food-plus{
    width: 21px;
    height: 21px;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    color: yellow;
    animation: parpadeo 1s infinite;
}

@keyframes parpadeo{
    0%{
        text-shadow: 0px 0px 1px rgba(246, 255, 0, 1);
    }
    25%{
        text-shadow: 0px 0px 7px rgba(246, 255, 0, 1);
    }
    50%{
        text-shadow: 0px 0px 14px rgba(246, 255, 0, 1);
    }
    75%{
        text-shadow: 0px 0px 7px rgba(246, 255, 0, 1);
    }
    100%{
        text-shadow: 0px 0px 1px rgba(246, 255, 0, 1);
    }   
}