<img id="{{stated==false?'ghost':ghost1.position==1?'ghost1-left':ghost1.position==2?
    'ghost1-up':ghost1.position==3?'ghost1-right':'ghost1-down'}}"
     name="ghost1"
     [style.left.px]="ghost1.x"
     [style.top.px]="ghost1.y"
>
<img id="{{stated==false?'ghost':ghost2.position==1?'ghost2-left':ghost2.position==2?
    'ghost2-up':ghost2.position==3?'ghost2-right':'ghost2-down'}}"
     name="ghost2"
     [style.left.px]="ghost2.x"
     [style.top.px]="ghost2.y"
>
<img id="{{stated==false?'ghost':ghost3.position==1?'ghost3-left':ghost3.position==2?
    'ghost3-up':ghost3.position==3?'ghost3-right':'ghost3-down'}}"
     name="ghost3"
     [style.left.px]="ghost3.x"
     [style.top.px]="ghost3.y"
>
<img id="{{stated==false?'ghost':ghost4.position==1?'ghost4-left':ghost4.position==2?
    'ghost4-up':ghost4.position==3?'ghost4-right':'ghost4-down'}}"
     name="ghost4"
     [style.left.px]="ghost4.x"
     [style.top.px]="ghost4.y"
>